<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @pic.url %>
</p>

<p>
  <b>Full top:</b>
  <%= @pic.full_top %>
</p>

<p>
  <b>Full bottom:</b>
  <%= @pic.full_bottom %>
</p>

<p>
  <b>Full left:</b>
  <%= @pic.full_left %>
</p>

<p>
  <b>Full right:</b>
  <%= @pic.full_right %>
</p>

<p>
  <b>Face top:</b>
  <%= @pic.face_top %>
</p>

<p>
  <b>Face bottom:</b>
  <%= @pic.face_bottom %>
</p>

<p>
  <b>Face left:</b>
  <%= @pic.face_left %>
</p>

<p>
  <b>Face right:</b>
  <%= @pic.face_right %>
</p>

<p>
  <b>Gender:</b>
  <%= @pic.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @pic.age %>
</p>

<p>
  <b>Weight:</b>
  <%= @pic.weight %>
</p>

<p>
  <b>Physique:</b>
  <%= @pic.physique %>
</p>

<p>
  <b>Skin color:</b>
  <%= @pic.skin_color %>
</p>

<p>
  <b>Race:</b>
  <%= @pic.race %>
</p>

<p>
  <b>Hair color:</b>
  <%= @pic.hair_color %>
</p>

<p>
  <b>Hair length:</b>
  <%= @pic.hair_length %>
</p>

<p>
  <b>Hair style:</b>
  <%= @pic.hair_style %>
</p>

<p>
  <b>Eye color:</b>
  <%= @pic.eye_color %>
</p>

<p>
  <b>Clothes:</b>
  <%= @pic.clothes %>
</p>

<p>
  <b>Makeup:</b>
  <%= @pic.makeup %>
</p>

<p>
  <b>Accessories:</b>
  <%= @pic.accessories %>
</p>

<p>
  <b>Emotion:</b>
  <%= @pic.emotion %>
</p>

<p>
  <b>Tags:</b>
  <%= @pic.tags %>
</p>


<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
