<p id="notice">
  <%= notice %>
</p>

<p>
  <b>Image:</b>
  <%= showPic(:pic => @pic) %>
</p>

<p>
  <b>Face:</b>
  <%= showPic(:pic => @pic, :crop => "face") %>
</p>

<p>
  <b>Full Body:</b>
  <%= showPic(:pic => @pic, :crop => "full") %>
</p>

<p>
  <b>Gender:</b>
  <%= @pic.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @pic.age %>
</p>

<p>
  <b>Weight:</b>
  <%= @pic.weight %>
</p>

<p>
  <b>Physique:</b>
  <%= @pic.physique %>
</p>

<p>
  <b>Skin color:</b>
  <%= @pic.skin_color %>
</p>

<p>
  <b>Race:</b>
  <%= @pic.race %>
</p>

<p>
  <b>Hair color:</b>
  <%= @pic.hair_color %>
</p>

<p>
  <b>Hair length:</b>
  <%= @pic.hair_length %>
</p>

<p>
  <b>Hair style:</b>
  <%= @pic.hair_style %>
</p>

<p>
  <b>Eye color:</b>
  <%= @pic.eye_color %>
</p>

<p>
  <b>Clothes:</b>
  <%= @pic.clothes %>
</p>

<p>
  <b>Makeup:</b>
  <%= @pic.makeup %>
</p>

<p>
  <b>Accessories:</b>
  <%= @pic.accessories %>
</p>

<p>
  <b>Emotion:</b>
  <%= @pic.emotion %>
</p>

<p>
  <b>Tags:</b>
  <%= @pic.tags %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
